.form-container{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.title{
    display: flex;
 
}

.titulo{
    text-align: center;
    font-size: 16px;
    margin-bottom: 16px;
}

.form-content-container{

    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column  ;

}

.action-container{
    display: flex;
    justify-content: flex-end;
    padding: 16px 0px ;
}